.nav-content {
  background-color: #2c0e3a;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  width: 80px;
  height: 30px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.timer-logo {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
